.view-contacts-page {

  table {
    border-collapse: collapse;
    width: 100%;
  }

  thead {
    tr {
      background-color: #e39999;
    }
  }

  tr {
    width: 100%;

    &:nth-child(even) {
      background-color: #f2f2f2;
    }
  }

  th,
  td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ccc;
  }




}